.idea/
.vscode/
log/
venv/
.cache/
*.pyc
*.prof
test.py
source/tests/
/source/*.yaml
.pytest_cache
!config_example.yaml
/source/myfunc
/source/.env
.mypy_cache
celerybeat*
.DS_Store
arhitecture
docs
logs
.hypothesis
.env
